/* .leftside-div{
    background-color:'#343c4a';
    width:'550px';
    margin:'10px';
    border-radius:'10px';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center'
} */
 